Saved
Binaries
.vs
Intermediate/**/*.pdb
Intermediate/**/*.dll
Intermediate/**/*.bin
Intermediate/**/*.pch
Intermediate/**/*.obj
Intermediate/**/*.log
Intermediate/**/*.res
Intermediate/**/*.dat
Intermediate/**/*.exe
Intermediate/**/*.response
Intermediate/**/*.exp
Intermediate/**/*.lib
Plugins/**/*.obj
Plugins/**/*.old
Plugins/**/*.response
*.lib
*.exp
*.response