Saved
Binaries
.vs
Intermediate/**/*.pdb
Intermediate/**/*.dll
Intermediate/**/*.vcxproj
Intermediate/**/*.vcxproj
Intermediate/**/*.vcxproj.filters
Intermediate/**/*.vcxproj.user
Intermediate/**/*.bin
Intermediate/**/*.pch
Intermediate/**/*.obj
Intermediate/**/*.log
Intermediate/**/*.res
Intermediate/**/*.dat
Intermediate/**/*.exe
Intermediate/**/*.response